<div ng-controller="contactController">
	<h2 class="page-header text-center">List of contacts</h2>
		<p class="text-center">
			<a href="#/contact/add" class="btn btn-lg btn-outline">Add Contact</a>
		</p>
	<ul class="media-list row contacts-container">
		<li ng-repeat="contact in contacts" ng-bind-html-unsafe="opt.text" class="media col-md-6 col-lg-4"> 
			<div class="thumbnail">
				<img class="media-object" src="assets/images/faces/{{contact.avatar}}">
			</div>
			<div class="media-heading">
				<h3>
				  {{contact.name}}
				</h3>
			</div>
			<div class="media-body">
				<dl>
				  <dt>Phone: {{contact.phone}}</dt>
				  <dd></dd>
				  <dt>Email:</dt>
				  <dd>{{contact.email}}</dd>
				  <input type="hidden" name="id" ng-value="{{contact.id}}">
				</dl>
				<small>
				    <a href="#/contact/update/{{contact.id}}">
				    	<span ng-click="modify(contact)" class="glyphicon glyphicon-pencil"></span>
				   	</a>&nbsp;
				    <a href="#/contact/remove/{{contact.id}}" class="delete-contract">
				    	<span ng-click="remove(contact)" class="glyphicon glyphicon-trash"></span>
				    </a>
				</small>
			</div>
			<hr>
		</li>
	</ul>
</div>