<div ng-controller="editContactController">
    <h2 class="page-header text-center"> Edit Contact</h2>
    <form role="form" class="form-horizontal contract-form" name="editForm" novalidate>
        <div class="form-group">
            <label class="col-sm-4 control-label">Full name:</label>
            <div class="col-sm-6" style="width:40%">
                <input type="text" name="contactName" class="form-control contact-name-input" ng-model="updatecontact.name" required>
            </div>
            <div ng-messages="editForm.contactName.$error" style="float:left;color:red">
                <div ng-message="required">This field is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Email address:</label>
            <div class="col-sm-6" style="width:40%">
                <input type="email" name="contactEmail" class="form-control contact-email-input" ng-model="updatecontact.email" required>
            </div>
            <div ng-messages="editForm.contactEmail.$error" style="float:left;color:red">
                <div ng-message="required">This field is required</div>
                <div ng-message="email">Your email address is invalid</div>
            </div>
        </div>
        <input type="hidden" ng-model="updatecontact._id">
        <input type="hidden" ng-model="updatecontact.avatar">
        <div class="form-group">
            <label class="col-sm-4 control-label">Telephone number:</label>
            <div class="col-sm-6" style="width:40%">
                <input type="tel" name="contactPhone" class="form-control contact-tel-input" ng-model="updatecontact.phone" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
            </div>
            <div ng-messages="editForm.contactPhone.$error" style="float:left;color:red">
                <div ng-message="required">This field is required</div>
                <div ng-message="pattern">Must be a valid 10 digit phone number</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3" style="width:20%">
                <button type="submit" ng-click="edit(updatecontact)" class="btn btn-outline btn-lg btn-block">Submit</button>
            </div>
            <div class="col-sm-3" style="width:20%">
                <a href="#/contacts" class="btn btn-outline btn-lg btn-block">Cancel</a>
            </div>
        </div>
    </form>
</div>
